<div>
  <div class="container my-5">
    <h1>Hello There</h1>
    <p>Tugas Besar LaSTI Kelompok 4</p>
    <table class="table">
      <thead>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>18218004</td>
          <td>Hardy Valenthio Amansyah</td>
        </tr>
        <tr>
          <td>18218018</td>
          <td>Patrick Segara</td>
        </tr>
        <tr>
          <td>18218034</td>
          <td>Vincentius Ian Widi Nugroho</td>
        </tr>
        <tr>
          <td>18218036</td>
          <td>Sulis Tiana</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>